###### for i in range(20):
    print("*",end='')    
print('')
print('python')
for i in range(20):
    print('*',end='')

In [11]:
for i in range(20):
    print("*",end='')    
print('')
for i in range(20):
    print("*",end='') 
print('')
for i in range(20):
    print('*',end='')

********************
********************
********************

In [12]:
def printS():
    for i in range(20):
        print('*',end='')

In [13]:
printS()
print("")
print("python")
print("")
printS()

********************
python

********************

In [14]:
def main():
    printS()
    print('')
    print('python')
    printS()

In [15]:
main()

********************
python
********************

In [21]:
def printS_num(num):
    for i in range(num):
        print('*',end='')

In [24]:
num=5
printS_num(num)

*****

In [38]:
def main_num():
    num=3
    printS_num(num)
    print('')
    print('python')
    num=5
    printS_num(num)

In [39]:
main_num()

***
python
*****

In [40]:
def main_for():
    for i in range(1,5):
        printS_num(i)
        print('')

In [41]:
main_for()

*
**
***
****

In [42]:
def print_num(num):
    for i in range(1,num):
        print(i,end='')

In [45]:
def main_num():
    for i in range(1,5):
        print_num(i)
        print('')

In [46]:
main_num()

1
12
123

In [52]:
def sum_num(f,end):
    total=0
    for k in range(f,end+1):
        total = total+k
    return total

In [53]:
sum_num(1,3)

6

In [54]:
sum_num(2,4)

9

In [55]:
result=sum_num(2,4)
print('total number:',result)

total number: 9

In [57]:
a=100
def main():
    a=200
    print(a)
main()
print(a)

200
100

In [58]:
a=100
def main():
    global a
    a=200
    print(a)
main()
print(a)

200
200

In [61]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [65]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [66]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [67]:
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [2]:
list1=[]

In [3]:
list1

[]

In [4]:
len(list1)

0

In [5]:
list2=[1,2,3,4,5]

In [6]:
list2

[1, 2, 3, 4, 5]

In [7]:
len(list2)

5

In [8]:
list3=['banana','apple','orange']

In [9]:
list3

['banana', 'apple', 'orange']

In [10]:
list4=[1,2,'banana','apple']

In [11]:
list4

[1, 2, 'banana', 'apple']

In [12]:
fruitlist = ["banana", "apple", "grape", "pineapple", "orange"]

In [13]:
fruitlist

['banana', 'apple', 'grape', 'pineapple', 'orange']

In [14]:
len(fruitlist)

5

In [16]:
fruitlist[0]

'banana'

In [17]:
fruitlist[1]

'apple'

In [18]:
fruitlist[-1]

'orange'

In [19]:
fruitlist[-5]

'banana'

In [23]:
for i in range (0,len(fruitlist)):
    print(i,fruitlist[i])

0 banana
1 apple
2 grape
3 pineapple
4 orange

In [26]:
for item in fruitlist:
    print(item)

banana
apple
grape
pineapple
orange

In [27]:
fruitlist[1:3]

['apple', 'grape']

In [28]:
fruitlist[:3]

['banana', 'apple', 'grape']

In [29]:
fruitlist[1:]

['apple', 'grape', 'pineapple', 'orange']

In [30]:
fruitlist[2:1]

[]

In [31]:
fruitlist[-4:-5]

[]

In [35]:
fruitlist[:1]

['banana']

In [34]:
fruitlist[-5:-4]

['banana']

In [36]:
fruitlist

['banana', 'apple', 'grape', 'pineapple', 'orange']

In [ ]:
#append 在後面加物件

In [37]:
fruitlist.append('kiwi')

In [38]:
fruitlist

['banana', 'apple', 'grape', 'pineapple', 'orange', 'kiwi']

In [ ]:
#insert 在第幾個之前加上物件

In [39]:
fruitlist.insert(0, "gauva")

In [40]:
fruitlist

['gauva', 'banana', 'apple', 'grape', 'pineapple', 'orange', 'kiwi']

In [ ]:
#index 找物件

In [42]:
fruitlist.index('orange')

5

In [43]:
fruitlist

['gauva', 'banana', 'apple', 'grape', 'pineapple', 'orange', 'kiwi']

In [ ]:
#pop 回傳之後刪除物件

In [44]:
fruitlist.pop(2)

'apple'

In [45]:
fruitlist

['gauva', 'banana', 'grape', 'pineapple', 'orange', 'kiwi']

In [46]:
fruitlist.pop(3)

'pineapple'

In [47]:
fruitlist

['gauva', 'banana', 'grape', 'orange', 'kiwi']

In [48]:
fruitlist.pop(-1)

'kiwi'

In [49]:
fruitlist

['gauva', 'banana', 'grape', 'orange']

In [ ]:
#remove  不回傳之後刪除

In [50]:
fruitlist.remove('grape')

In [51]:
fruitlist

['gauva', 'banana', 'orange']

In [ ]:
#把第幾個更換成新物件

In [52]:
fruitlist[0] = "papaya"

In [53]:
fruitlist

['papaya', 'banana', 'orange']

In [54]:
numberlist = [1, 3, 4, 2, 6, 5]

In [ ]:
#sort 從小到大排

In [55]:
numberlist.sort()

In [56]:
numberlist

[1, 2, 3, 4, 5, 6]

In [ ]:
#reverse 從大到小排

In [57]:
numberlist.reverse()

In [58]:
numberlist

[6, 5, 4, 3, 2, 1]

In [ ]:
#append 在後面加上新物件

In [59]:
numberlist.append(3)

In [ ]:
#count 計算物件出現的次數

In [60]:
numberlist.count(3)

2

In [61]:
max(numberlist)

6

In [62]:
min(numberlist)

1

In [63]:
sum(numberlist)

24

In [64]:
list2 = [1, 3, 5, 7, 9]
list3 = [2, 4, 6, 8]

In [ ]:
#list相加

In [65]:
list5 = list2 + list3
list5

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
#extend 在後面加上list

In [66]:
list3.extend(list2)

In [67]:
list3

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [68]:
list7 = 2 * list2
list7

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [69]:
3 in list7

True

In [70]:
10 in list7

False

In [71]:
list66 = [1, 2, 3, 4, 5]
list88 = [11, 22, 33, 44, 55]

In [72]:
id(list66)

1828986289416

In [73]:
id(list88)

1828985660104

In [74]:
list66 = list88

In [75]:
list66

[11, 22, 33, 44, 55]

In [76]:
id(list66)

1828985660104

In [77]:
list88

[11, 22, 33, 44, 55]

In [78]:
list88[0] = 99

In [79]:
list88

[99, 22, 33, 44, 55]

In [80]:
list66

[99, 22, 33, 44, 55]

In [2]:
list22=[0.5,'hi',3]
list22

[0.5, 'hi', 3]

In [3]:
list33=[0.5,'hi',[2,3]]
list33

[0.5, 'hi', [2, 3]]

In [4]:
list33[0]

0.5

In [ ]:
#第幾個物件的第幾件

In [6]:
list33[2][0]

2

In [7]:
list44=[[1, 2], [3, 4], [5, 6]]
list44

[[1, 2], [3, 4], [5, 6]]

In [10]:
import pandas as pd

In [11]:
pd.DataFrame(list44)

   0  1
0  1  2
1  3  4
2  5  6

In [32]:
list44[0][0]

1

In [38]:
sum=0
for i in range(1,5,2):
    for j in range(2,6,2)

SyntaxError: invalid syntax (<ipython-input-38-452155b063d4>, line 2)

In [12]:
list22

[0.5, 'hi', 3]

In [ ]:
#輸出list裡的物件

In [13]:
for item in list22:
    print(item)

0.5
hi
3

In [15]:
for i in range(0, len(list22)):
    print(list22[i])

0.5
hi
3

In [16]:
for item in list44:
    print(item)

[1, 2]
[3, 4]
[5, 6]

In [18]:
len(list44)

3

In [ ]:
#list44裡,第幾個物件裡的數量

In [20]:
len(list44[0])

2

In [ ]:
#

In [22]:
for i in range(0, len(list44)):
    for j in range(0, len(list44[0])):
        print(list44[i][j])

1
2
3
4
5
6

In [24]:
for item in list44:
    for inner_item  in item:
        print(inner_item)

1
2
3
4
5
6

In [26]:
for i in range(0, len(list44)):
    print(list44[i])

[1, 2]
[3, 4]
[5, 6]

In [27]:
for j in range(0, len(list44[0])):
        print(list44[j])

[1, 2]
[3, 4]

In [31]:
list44[j]

[3, 4]